.closedDesc {
    height: 0px;
    overflow-y: hidden; 
    font-size: 20px;
    transition: height 1s;
    transition-timing-function: ease-in-out;
}

.openedDesc {
    height: 10rem;
    overflow-y: scroll; 
    transition: height 1s;
    font-size: 20px;
    transition-timing-function: ease-in-out;
}

.openedDesc img {
    height: 6rem;
    width: auto;
}

.closedDesc img {
    height: 6rem;
    width: auto;
}

.openedDesc p {
    font-size: 15px;
    margin: 0;
}

.closedDesc p {
    font-size: 15px;
    margin: 0;
}

.initVal {
    text-decoration-line: line-through;
    font-weight: 700;     
}

.rightBlock {
    margin-left: 1rem;
}
